



body{
    padding-top: 60px; /*navbar-fixed-top makes the content below header to overlap */
    overflow: hidden;
}


.scrollable{
    max-height:100%;
    overflow-y: scroll;
    margin-top: 75px;

}

.left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    margin-bottom: 80px;

}

.right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    background-color: #ddd;
}

.qa-navbar{
    min-height: 75px;
    margin-bottom: 0px !important;
    background-color: red;
}

.qa-navbar .navbar-brand>img {
    height: 50px;
    width: 50px;
    display: inline;
}
.qa-navbar .navbar-brand>h4 {
    display: inline;
    color: white;
}

.qa-input{
    border: 0;
    box-shadow: none;
    background: transparent;
    box-shadow: none !important;
}

.qa-navbarFooter{
    width: 75%;
    height: 75px;
}

.qa-navbarFooter .container-fluid{
    padding-top: 12px;
}
.username{
    margin-top: 15px;
    color: white !important;
}
.related-title{
    border-bottom: 4px solid black;
}


.related-list p{
    color: dimgrey;
    text-decoration: none;
}
/*To make the navbar form width 100%
http://stackoverflow.com/questions/25042921/bootstrap-3-search-box-width-cant-be-100
*/
.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline;
}

.qa-thumbs-icon{
    color: gray;
    font-size: 20px;
}